
.recetas {
    padding: 7rem 2.3rem;

    h1 {
        text-align: center;
        font-family: $font-secondary;
        font-size: map-get($sizes, "medium");
        font-weight: map-get($weights, "extra_bold");
        line-height: 22px;
        margin-bottom: 6rem;
    }
}

.recetas__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

// receta con etiqueta nueva
.nueva {
    .receta__header-nuevo {
        display: block;
        z-index: 1;
    }
}

// receta que está guardada
.save {
    .receta__content-save {
        display: block;
    }

    .receta__content-nosave {
        display: none;
    }
}

// receta que no está guardada
.nosave {
    .receta__content-save {
        display: none;
    }

    .receta__content-nosave {
        display: block;
    }
}

// receta bloqueada
.lock{
    img {
        filter:brightness(50%);
    }
    .receta__header-options {
        .receta__header-lock,
        .receta__header-play {
            display: block;
        }
    }
}

.receta {
    border: solid 1px color(grayscale, gray-4);
    height: 400px;
    margin: 1.2rem;
    padding: 1.6rem 1.7rem;
    width: 256px;

    &__header{

        margin-bottom: 0.5rem;

        &-nuevo {
            border-radius: 2rem;
            background: color(grayscale, gray-2);
            display: none;
            font-size: map-get($sizes, "base");
            font-weight: map-get($weights, "semi_bold");
            line-height: 28px;
            margin: 1rem;
            padding: .2rem 2rem;
            position: absolute;
        }

        &-options {
            position: relative;
            top: -10rem;
            left: 10rem;
        }

        &-lock {
            top: -3rem;
        }

        &-play {
            right: 11rem;
            top: 3rem;
        }

        &-lock,
        &-play {
            color: color(primary, dark);
            display: none;
            font-size: map-get($sizes, "slarge");
            position: absolute;
        }

        img {
            object-fit: cover;
        }
    }

    &__content {
        background: color(primary, light);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 159px;
        padding: 1.2rem;
        width: 22.4rem;
        
        &-title {
            display: flex;
            justify-content: space-between;

            p{
                font-size: map-get($sizes, "base");
                font-weight: map-get($weights, "light");
                line-height: 20px;
            }
        }

        &-save,
        &-nosave {
            color: color(primary, dark);
            font-size: map-get($sizes, shalf)
        }

        &-nombre {
            font-size: map-get($sizes, "thumb");
            font-weight: map-get($weights, "semi_bold");
            line-height: 22px;
        }

        a{
            color: color(primary, dark);
            font-size: map-get($sizes, "base");
            font-weight: map-get($weights, "semi_bold");
            line-height: 24px; 
        }
    }
    
}

@include  mq-min(xl){

    .recetas {
        padding: 7rem 20rem;
    }
}